In [37]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
# Read train.csv file into a DataFrame
df_credit = pd.read_csv('./modified_df_credit_train.csv')

df_credit

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3,...,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,265.0
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3,...,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,NaN
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500.0,821-00-0265,Scientist,19114.12,NaN,3,...,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good,267.0
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3,...,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,268.0
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3,...,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4,...,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.971333,High_spent_Large_value_payments,NaN,Poor,378.0
99996,0x25fea,CUS_0x942c,May,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4,...,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.185950,High_spent_Medium_value_payments,NaN,Poor,379.0
99997,0x25feb,CUS_0x942c,June,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4,...,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.028477,High_spent_Large_value_payments,NaN,Poor,380.0
99998,0x25fec,CUS_0x942c,July,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4,...,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.672582,Low_spent_Large_value_payments,NaN,Standard,381.0
99999,0x25fed,CUS_0x942c,August,Nicks,25.0,078-73-5990,Mechanic,39628.99,3359.415833,4,...,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.163865,!@9#%8,NaN,Poor,382.0

In [39]:
df_credit.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score', 'Credit_History_Age_Months'],
      dtype='object')

In [40]:
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         100000 non-null  object
 1   Customer_ID                100000 non-null  object
 2   Month                      100000 non-null  object
 3   Name                       90015 non-null   object
 4   Age                        100000 non-null  float64
 5   SSN                        100000 non-null  object
 6   Occupation                 100000 non-null  object
 7   Annual_Income              100000 non-null  float64
 8   Monthly_Inhand_Salary      84998 non-null   float64
 9   Num_Bank_Accounts          100000 non-null  int64
 10  Num_Credit_Card            100000 non-null  int64
 11  Interest_Rate              100000 non-null  int64
 12  Num_of_Loan                100000 non-null  float64
 13  Type_of_Loan               88592 non-null   object
 14  Delay_from_due_date        100000 non-null  int64
 15  Num_of_Delayed_Payment     92998 non-null   float64
 16  Changed_Credit_Limit       97909 non-null   float64
 17  Num_Credit_Inquiries       98035 non-null   float64
 18  Credit_Mix                 100000 non-null  object
 19  Outstanding_Debt           100000 non-null  float64
 20  Credit_Utilization_Ratio   100000 non-null  float64
 21  Credit_History_Age         90970 non-null   object
 22  Payment_of_Min_Amount      100000 non-null  object
 23  Total_EMI_per_month        100000 non-null  float64
 24  Amount_invested_monthly    95521 non-null   float64
 25  Payment_Behaviour          100000 non-null  object
 26  Monthly_Balance            97132 non-null   float64
 27  Credit_Score               100000 non-null  object
 28  Credit_History_Age_Months  90970 non-null   float64
dtypes: float64(13), int64(4), object(12)
memory usage: 22.1+ MB

In [41]:
# Define columns to drop
columns_to_drop = ['ID', 'SSN', 'Annual_Income', 'Type_of_Loan', 'Credit_History_Age'] #'Payment_Behaviour decide on this

# Drop the specified columns
df_credit_dropped = df_credit.drop(columns=columns_to_drop)

df_credit_dropped

,Customer_ID,Month,Name,Age,Occupation,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,CUS_0xd40,January,Aaron Maashoh,23.0,Scientist,1824.843333,3,4,3,4.0,...,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,265.0
1,CUS_0xd40,February,Aaron Maashoh,23.0,Scientist,NaN,3,4,3,4.0,...,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,NaN
2,CUS_0xd40,March,Aaron Maashoh,-500.0,Scientist,NaN,3,4,3,4.0,...,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good,267.0
3,CUS_0xd40,April,Aaron Maashoh,23.0,Scientist,NaN,3,4,3,4.0,...,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,268.0
4,CUS_0xd40,May,Aaron Maashoh,23.0,Scientist,1824.843333,3,4,3,4.0,...,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,April,Nicks,25.0,Mechanic,3359.415833,4,6,7,2.0,...,_,502.38,34.663572,No,35.104023,60.971333,High_spent_Large_value_payments,NaN,Poor,378.0
99996,CUS_0x942c,May,Nicks,25.0,Mechanic,3359.415833,4,6,7,2.0,...,_,502.38,40.565631,No,35.104023,54.185950,High_spent_Medium_value_payments,NaN,Poor,379.0
99997,CUS_0x942c,June,Nicks,25.0,Mechanic,3359.415833,4,6,5729,2.0,...,Good,502.38,41.255522,No,35.104023,24.028477,High_spent_Large_value_payments,NaN,Poor,380.0
99998,CUS_0x942c,July,Nicks,25.0,Mechanic,3359.415833,4,6,7,2.0,...,Good,502.38,33.638208,No,35.104023,251.672582,Low_spent_Large_value_payments,NaN,Standard,381.0
99999,CUS_0x942c,August,Nicks,25.0,Mechanic,3359.415833,4,6,7,2.0,...,Good,502.38,34.192463,No,35.104023,167.163865,!@9#%8,NaN,Poor,382.0

In [29]:
df_credit_dropped.describe()

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_History_Age_Months
count,100000.000000,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,92998.000000,97909.000000,98035.000000,100000.000000,100000.000000,100000.000000,95521.000000,9.713200e+04,90970.000000
mean,110.649700,4194.170850,17.091280,22.47443,72.466040,3.009960,21.068780,30.923342,10.389025,27.754251,1426.220376,32.285173,1403.118217,637.412998,-3.088580e+22,221.195405
std,686.244717,3183.686167,117.404834,129.05741,466.422621,62.647879,14.860104,226.031892,6.789496,193.177339,1155.129026,5.116875,8306.041270,2043.319327,3.208492e+24,99.741364
min,-500.000000,303.645417,-1.000000,0.00000,1.000000,-100.000000,-5.000000,-3.000000,-6.490000,0.000000,0.230000,20.000000,0.000000,0.000000,-3.333333e+26,1.000000
25%,24.000000,1625.568229,3.000000,4.00000,8.000000,1.000000,10.000000,9.000000,5.320000,3.000000,566.072500,28.052567,30.306660,74.534002,2.699858e+02,144.000000
50%,33.000000,3093.745000,6.000000,5.00000,13.000000,3.000000,18.000000,14.000000,9.400000,6.000000,1166.155000,32.305784,69.249473,135.925682,3.364493e+02,219.000000
75%,42.000000,5957.448333,7.000000,7.00000,20.000000,5.000000,28.000000,18.000000,14.870000,9.000000,1945.962500,36.496663,161.224249,265.731733,4.696405e+02,302.000000
max,8698.000000,15204.633333,1798.000000,1499.00000,5797.000000,1496.000000,67.000000,4397.000000,36.970000,2597.000000,4998.070000,50.000000,82331.000000,10000.000000,1.602041e+03,404.000000

In [35]:
def filter_greater_than_threshold(column_name, threshold):
    """
    Filter out rows from the DataFrame where the specified column values are greater than the threshold.

    Parameters:
        column_name (str): The name of the column to filter.
        threshold (int or float): The threshold value for filtering.

    Returns:
        None
    """
    global df_credit_dropped
    df_credit_dropped = df_credit_dropped[df_credit_dropped[column_name] <= threshold]

# Call the function to filter the DataFrame
filter_greater_than_threshold('Num_Credit_Card', 15) # max num of credit cards 15
filter_greater_than_threshold('Interest_Rate', 40) # max 40% intrest rate
filter_greater_than_threshold('Num_of_Loan', 10) #max loans 10
filter_greater_than_threshold('Num_of_Delayed_Payment', 24) # max 24 months 
filter_greater_than_threshold('Num_Credit_Inquiries', 20) # max 20 inquiries 

# Replace negative values with NaN
df_credit_dropped['Num_of_Loan'] = df_credit_dropped['Num_of_Loan'].apply(lambda x: np.nan if x < 0 else x)
df_credit_dropped['Num_of_Delayed_Payment'] = df_credit_dropped['Num_of_Delayed_Payment'].apply(lambda x: np.nan if x < 0 else x)

# Specify the columns for which you want to print summary statistics
columns_of_interest = ['Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Num_Credit_Inquiries']

# Print the summary statistics for the specified columns
df_credit_dropped[columns_of_interest].describe()

,Num_Credit_Card,Interest_Rate,Num_of_Loan,Num_of_Delayed_Payment,Num_Credit_Inquiries
count,82528.000000,82528.000000,79327.000000,81931.000000,82528.000000
mean,5.486720,14.277276,3.461217,13.098644,5.683417
std,2.051429,8.662668,2.412915,5.961132,3.828749
min,0.000000,1.000000,0.000000,0.000000,0.000000
25%,4.000000,7.000000,2.000000,9.000000,3.000000
50%,5.000000,13.000000,3.000000,13.000000,5.000000
75%,7.000000,20.000000,5.000000,18.000000,8.000000
max,15.000000,34.000000,9.000000,24.000000,17.000000

In [42]:
df_credit_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Customer_ID                100000 non-null  object
 1   Month                      100000 non-null  object
 2   Name                       90015 non-null   object
 3   Age                        100000 non-null  float64
 4   Occupation                 100000 non-null  object
 5   Monthly_Inhand_Salary      84998 non-null   float64
 6   Num_Bank_Accounts          100000 non-null  int64
 7   Num_Credit_Card            100000 non-null  int64
 8   Interest_Rate              100000 non-null  int64
 9   Num_of_Loan                100000 non-null  float64
 10  Delay_from_due_date        100000 non-null  int64
 11  Num_of_Delayed_Payment     92998 non-null   float64
 12  Changed_Credit_Limit       97909 non-null   float64
 13  Num_Credit_Inquiries       98035 non-null   float64
 14  Credit_Mix                 100000 non-null  object
 15  Outstanding_Debt           100000 non-null  float64
 16  Credit_Utilization_Ratio   100000 non-null  float64
 17  Payment_of_Min_Amount      100000 non-null  object
 18  Total_EMI_per_month        100000 non-null  float64
 19  Amount_invested_monthly    95521 non-null   float64
 20  Payment_Behaviour          100000 non-null  object
 21  Monthly_Balance            97132 non-null   float64
 22  Credit_Score               100000 non-null  object
 23  Credit_History_Age_Months  90970 non-null   float64
dtypes: float64(12), int64(4), object(8)
memory usage: 18.3+ MB

In [ ]:
#select columns to inpute

#select columns to encode 

#select columns to scale

## Modelling

In [ ]:
#split test/train

#check elbow curve

#get k means

#run several models

#check accurancy for several models

#evalute confussion matrix for several models

## Model Evaluation

## Model Interpretion